/* ||RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ||VARIABLE DECLARATIONS */
:root {
  /* COLORS */
  --CLR: whitesmoke;
  --BGCLR: green;
  --BGIMG: linear-gradient(to top left, #28b487, #7dd56f);

  /* FONT */
  --FF: "arial", "sans-serif";

  /* SIZE */
  --FXL: 2rem;
  --FXXL: 3rem;
}

/* ||GENERAL STYLES */
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--BGCLR);
  background-image: var(--BGIMG);
}

.main__heading {
  text-transform: uppercase;
  color: var(--CLR);
  font-family: var(--FF);
  font-size: var(--FXXL);
}
