/* ||RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLE DECLARATIONS */
:root {
  /* COLORS */
  --BGCLR: black;
  --FONTCLR: whitesmoke;
}

/* ||GENERAL STYLES */
.main {
  width: 100%;
  height: 100vh;
  background-color: var(--BGCLR);
  color: var(--FONTCLR);
}
