/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLE DECLARATIONS */
:root {
    /* COLOR */
    --DARKCOLOR: black;
    --LIGHTCOLOR: white;
    --BACKCOLOR: #475569;
    --HEADFOOTCOL: #1E293B;
}

/* GENRAL STYLES */
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px calc(100% - 60px) 30px;
}

.header {
    background-color: var(--HEADFOOTCOL);
    color: var(--LIGHTCOLOR);
    box-shadow: 10px 10px 10px black;
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    place-content: center;
}

.main {
    padding: 1rem;
    background-color: var(--BACKCOLOR);
    background-image: radial-gradient(var(--LIGHTCOLOR), var(--BACKCOLOR));
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    /* align-items:center; */
    flex-flow: row wrap;
}
.square{
    width: 100px;
    height: 100px;
    border: 2px solid var(--DARKCOLOR);
    border-radius: 10px;
    display: grid;
    place-content: center;
    background-color: orange;
    font-size: 2rem;
    box-shadow: 2px 2px 2px black;
}
.square--primary{
    background-color: cornflowerblue;
}

.footer {
    background-color: var(--HEADFOOTCOL);
    color: var(--LIGHTCOLOR);
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    place-content: center;
}

@media (prefers-color-scheme: dark){
    .square{
        background-color: cornflowerblue;
    }
    .square--primary{
        background-color: orange;
    }
}