body{
    font-family: SF Pro Display;
}
button{
    cursor: pointer;
    margin: 9px;
}

#sub {
    background-color: rgb(204, 2, 2);
    border: none;
    border-color: red;
    height: 38px;
    width: 110px;
    border-radius: 2px;
    transition: opacity 0.5s;
}
#sub:hover{
    opacity: 0.7;
}
#sub a{
    text-decoration: none;
    color: white;
}
#sub:active{
    opacity: 0.4;
}

#join{
    background-color: white;
    border-color: rgb(41, 118, 211);
    border-width: 1px;
    border-style: solid;
    color: rgb(41, 118, 211);
    height: 38px;
    width: 65px;
    border-radius: 2px;
    transition: background-color 0.15s, color 0.15s,opacity 0.5s;
}
#join:hover{
    background-color: rgba(41, 118, 211);
    color: white;
}
#join:active{
    opacity: 0.7;
}
#tweet{
    color: white;
    background-color: #00acee;
    font-weight: bold;
    border: none;
    width: 74px;
    height: 38px;
    border-radius: 19px;
    font-size: 14px;
    transition: box-shadow 0.3s;
}
#tweet:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
#req {
    background-color: black;
    color: white;
    border: none;
    height: 38px;
    width: 110px;
    transition:opacity 0.015s;
}
#req:hover{
    opacity: 0.8;
}
#ama{
    color: black;
    background-color: rgb(255, 204, 39);
    border: none;
    width: 199px;
    height: 32px;
    border-radius: 16px;
    font-size: 14px;
    transition: background-color 0.2s;
}
#ama:hover{
    background-color: rgb(184, 147, 28);
}
#git{
    height: 38px;
    width: 94px;
    color: white;
    background-color: rgb(46, 164, 79);
    border: none;
    border-radius: 6px;
    font-weight: bold;
    transition: box-shadow 0.15s;
}
#git:hover{
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.080)
}
#bootget{
    height: 36px;
    width: 109px;
    color: white;
    border: none;
    font-weight: bold;
    background-color: rgb(121,82,179);
    border-radius: 3px;
    transition: background-color 0.5s;
}
#bootget:hover{
    background-color: rgb(65, 45, 94);
}
#bootdow{
    height: 36px;
    width: 109px;
    color: grey;
    border-width: 1px;
    border-color: rgb(173, 173, 173);
    border-style: solid;
    font-weight: bold;
    border-radius: 3px;
    transition:background-color 0.5s, color 0.5s;
}
#bootdow:hover{
    background-color:grey; ;
    color: white;
}
#linkapp{
    height: 36px;
    width: 213px;
    color: white;
    border: none;
    background-color: rgb(10,102,194);
    font-weight: bold;
    border-radius: 18px;
    transition: background-color 0.5s;
}
#linkapp:hover{
    background-color: rgb(6, 61, 116);
}
#linksa{
    height: 36px;
    width: 76px;
    color: rgb(10,102,194);
    background-color: white;
    border-color: rgb(10,102,194);
    border-radius: 18px;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    transition: border-width 0.05s,background-color 0.15s;
}
#linksa:hover{
    border-width: 1.5px;
    background-color: rgb(227, 241, 255);

}
.zon{
    color: rgb(4, 159, 187);
    
}
.zon:hover{
    color: orange;

}
#head{
    font-size: xx-large;
    font-weight: bold;
}
#price{
    font-weight: bold;
    font-size: medium;
   
    color: rgb(0,118,0);
}
#cart{
    color: black;
    background-color: rgb(255, 204, 39);
    border: none;
    width: 110px;
    height: 32px;
    border-radius: 16px;
    font-size: 14px;
    margin: none;
    transition: background-color 0.5s,opacity 0.5s;
}
#cart:hover{
    background-color: rgb(199, 159, 30);
}
#cart:active{
    opacity: 0.6;
}
#buy{
    color: black;
    background-color: rgb(255, 164, 28);
    border: none;
    width: 110px;
    height: 32px;
    border-radius: 16px;
    font-size: 14px;
    margin-left: 10px ;
    transition: background-color 0.5s,opacity 0.5s;
}
#buy:hover{
    background-color:rgb(201, 130, 23);
}
#buy:active{
    opacity: 0.7;
}

